.education__container {
  width: 50%;
}

/* Swiper library class */
.swiper-slide {
  margin-bottom: 3rem;
}

.education {
  background-color: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
}

.education__qualification {
  width: 6rem;
  height: 3rem;
  /* aspect-ratio: 1/1; */
  /* overflow: hidden; */
  /* border-radius: 50%; */
  margin: 0 auto 1rem;
}

.education small {
  color: var(--color-light);
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background-color: var(--color-primary);
}

/* ============ MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1024px) {
  .education__container {
    width: 60%;
  }
}

/* ============ MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {
  .education__container {
    width: var(--container-width-sm);
  }

  .education small {
    width: var(--container-width-sm);
  }
}
